<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.test.cw.tvui"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".main.MainActivity"
            android:banner="@drawable/doggy"
            android:icon="@drawable/doggy"
            android:label="@string/app_name"
            android:logo="@drawable/doggy"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".DetailsActivity"/>-->
        <!--<activity android:name=".PlaybackOverlayActivity"/>-->
        <!--<activity android:name=".BrowseErrorActivity"/>-->
        <activity android:name=".operation.Import_fileListAct"/>
        <activity android:name=".operation.Import_fileViewAct"/>
    </application>

</manifest>